html {
  /* FONTS */
  --font-serif: "IBM Plex Serif", Georgia, Times New Roman, serif;
  --font-sans: BlinkMacSystemFont, -apple-system, Segoe UI, Helvetica, Arial, sans-serif;
  --font-code: "Roboto Mono", monospace;
}

html,
html[data-theme="dark"] {
  --backgroundBase: #121212;
  --textBase: #e1e1e1;
  --titleBase: #ffffff;

  --borderPrimary: #35383f;
  --borderAction: #90aaf1;

  --textNew: #ff79c6;
  --textClass: #a85cf9;
  --textPType: #f8b400;
  --textBnf: #83bd75;
  --textGlossary: #00c897;

  --inlineCodeBg: #282a36;
  --inlineCodeBase: #c4c7cf;

  --textAction: #0aa1dd;
  --textQuestion: #fdc073;
  --textAnswer: #2fdd92;
  --textActionHover: #e3796a;
  --textActionActive: #d2483e;
  --textActionVisited: #2155cd;

  --textUnknowned: #fc4f4f;
}

html[data-theme="light"] {
  --backgroundBase: #f3f5d6;
  --textBase: #121212;
  --titleBase: #000;

  --borderPrimary: #ddd;

  --textPType: #f76e11;
  --textQuestion: #d67d3e;

  --inlineCodeBg: #e2e3e7;
  --inlineCodeBase: #555;
}
